parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9]* has no typehint specified.#'
        - '#Method [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9]* has no return typehint specified.#'
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
