<h1 style="font-family: sans-serif;color: #B0413E">New email from <span style="color: #5eb5e0">{{ name }}</span> !</h1>

<h2 style="font-family: sans-serif">Content : </h2>
<p style="font-family: sans-serif">{{ message }}</p>
<p style="font-family: sans-serif">Phone : {{ phone }}</p>
<p style="font-family: sans-serif">eMail : {{ address }}</p>