<header class="bg-secondary" id="hero">
    <div class="container mx-auto py-48">
        <p class="text-light font-mono leading-normal">
            <svg class="inline h-4 w-4 fill-current text-light">
                <use xlink:href="{{ asset('build/icons/zondicons-sprite.svg#location') }}"></use>
            </svg>
            Strasbourg, France
        </p>
        <h1 class="text-8xl font-extralight text-primary">PIERRE MULLER</h1>
        <p class="text-6xl font-bold leading-normal text-light">web developper</p>
        <div>
            {% for techno in technos %}
                <span class="badge badge-primary leading-normal">{{ techno.name }}</span>
            {% endfor %}
        </div>
    </div>
</header>