<section class="bg-light" id="services">
    <div class="container mx-auto">
        <div class="pt-24 pb-12 text-center">
            <h2 class="text-5xl font-normal uppercase text-secondary leading-normal mb-8">Services</h2>
            <p class="lg:mx-64 text-center text-gray-500 leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eius magnam nulla quaerat quas quisquam rem sed similique soluta veniam. Alias earum labore modi, quae sunt vel veniam! Architecto, fugiat.</p>
        </div>

        <div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 pt-12 pb-24">
            <div class="bg-white shadow-md p-6">
                <div class="flex justify-center mb-6">
                    <svg class="w-24 fill-current text-primary">
                        <use xlink:href="{{ asset('build/images/zondicons-sprite.svg#browser-window') }}"></use>
                    </svg>
                </div>
                <h3 class="text-xl text-primary font-light text-center">Showcase site</h3>
                <p class="px-4 pt-6 pb-8 text-center font-extralight text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, consectetur distinctio earum eligendi error eveniet</p>
            </div>
            <div class="bg-white shadow-md p-6">
                <div class="flex justify-center mb-6">
                    <svg class="w-24 fill-current text-primary">
                        <use xlink:href="{{ asset('build/images/zondicons-sprite.svg#dashboard') }}"></use>
                    </svg>
                </div>
                <h3 class="text-xl text-primary font-light text-center">Web application</h3>
                <p class="px-4 pt-6 pb-8 text-center font-extralight text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus placeat saepe sit suscipit voluptate. Corporis debitis dolore doloribus, ex explicabo id perferendis provident quos.</p>
            </div>
            <div class="bg-white shadow-md p-6">
                <div class="flex justify-center mb-6">
                    <svg class="w-24 fill-current text-primary">
                        <use xlink:href="{{ asset('build/images/zondicons-sprite.svg#plugin') }}"></use>
                    </svg>
                </div>
                <h3 class="text-xl text-primary font-light text-center">CMS</h3>
                <p class="px-4 pt-6 pb-8 text-center font-extralight text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi consequatur corporis cupiditate dicta, dolor doloremque doloribus ea est </p>
            </div>
        </div>
    </div>
</section>