<section class="container mx-auto" id="services">
    <div class="my-24 text-center">
        <h2 class="text-4xl font-light uppercase text-dark leading-normal mb-8">Services</h2>
        <p class="mx-64 text-center text-gray-500 leading-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eius magnam nulla quaerat quas quisquam rem sed similique soluta veniam. Alias earum labore modi, quae sunt vel veniam! Architecto, fugiat.</p>
    </div>

    <div class="grid grid-cols-3 my-12">
        <div class="">
            <div class="flex justify-center mb-6">
                <svg class="w-24 fill-current text-secondary">
                    <use xlink:href="{{ asset('build/icons/zondicons-sprite.svg#browser-window') }}"></use>
                </svg>
            </div>
            <h3 class="text-xl text-secondary text-center font-bold">Showcase site</h3>
            <p class="px-24 py-6 text-center text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias, consectetur distinctio earum eligendi error eveniet</p>
        </div>
        <div class="">
            <div class="flex justify-center mb-6">
                <svg class="w-24 fill-current text-secondary">
                    <use xlink:href="{{ asset('build/icons/zondicons-sprite.svg#dashboard') }}"></use>
                </svg>
            </div>
            <h3 class="text-xl text-secondary text-center font-bold">Web application</h3>
            <p class="px-24 py-6 text-center text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus placeat saepe sit suscipit voluptate. Corporis debitis dolore doloribus, ex explicabo id perferendis provident quos.</p>
        </div>
        <div class="">
            <div class="flex justify-center mb-6">
                <svg class="w-24 fill-current text-secondary">
                    <use xlink:href="{{ asset('build/icons/zondicons-sprite.svg#store-front') }}"></use>
                </svg>
            </div>
            <h3 class="text-xl text-secondary text-center font-bold">E-commerce</h3>
            <p class="px-24 py-6 text-center text-gray-500">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At commodi consequatur corporis cupiditate dicta, dolor doloremque doloribus ea est </p>
        </div>
    </div>
</section>