{% extends 'admin/layout/base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <div class="grid grid-cols-12">
        <div class="col-span-10 col-start-2">
            <h1 class="text-4xl mb-6">Edit Article</h1>

            {{ include('admin/article/_form.html.twig', {'button_label': 'Update'}) }}

            <a href="{{ path('admin_article_index') }}">back to list</a>

            {{ include('admin/article/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
