{% extends 'front/layout/base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="bg-light">
        <div class="container">
            <header class="py-16">
                <h1 class="text-6xl text-secondary uppercase">Contact me !</h1>
            </header>
            <section class="grid grid-cols-1 lg:grid-cols-2 gap-12">
                <div id=contactForm">
                    {% include 'front/contact/_form.html.twig' %}
                </div>
                <div id="info">
                    <div class="p-8 bg-dark text-light">
                        <h3 class="text-4xl font-extralight text-primary mb-4">Pierre Muller</h3>
                        <p class="mb-2">
                            <svg class="inline h-4 w-4 fill-current mr-2">
                                <use xlink:href="{{ asset('build/icons/zondicons-sprite.svg#envelope') }}"></use>
                            </svg>
                            pierremanu.muller@gmail.com
                        </p>
                        <p>
                            <svg class="inline h-4 w-4 fill-current mr-2">
                                <use xlink:href="{{ asset('build/icons/zondicons-sprite.svg#location') }}"></use>
                            </svg>
                            Strasbourg, France
                        </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
